

:root{
  --color-primario: #0A3871;
  --color-secundario: #D8DFE8;
  --color-terciario: #F3F5FC;

  --fuente-primaria: 'Inter', sans-serif;
}

/* Box sizing rules */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

*{
    margin: 0;
    padding: 0;
}

/* body */
body{
    position: relative;
}

/* header mas logo */
header{
    position: absolute;
    top: 4%;
    left: 3%;
    z-index: 10;
}

/* main */
main{
   width: 100vw;
   height: 100vh;
   background-color: var(--color-terciario);
   padding-left: 10%;
   /* posicionamiento */
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
}

/* Banner input */
.contenido__input{
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 16%;
    padding-bottom: 72px;
}

.contenido__input label{
  position: absolute;
}

.contenido__input textarea{
  height: 80%;
  border: none;
  resize: none;
  background-color: var(--color-terciario);
  cursor: text;
}
.contenido__input textarea:focus{
  outline: none;
}
.contenido__input:focus-within label {
  display: none;
}
.contenido__input label{
  cursor: text;
}

.contenido__input label, .contenido__input textarea{
  font-family: var(--fuente-primaria);
  font-weight: 400;
  font-size: 2rem;
  color: var(--color-primario);
}

.contenido__input>:first-child{
  display: flex;
  flex-direction: column;
  flex: 1;
  position: relative;
}

.contenido__input__advertencia__mensaje, .copyright{
  font-family: var(--fuente-primaria);
  font-weight: 400;
  font-size: 0.75rem;
  color: #495057;
}

.contenido__input>:nth-child(2){
  display: flex;
  gap: 8px;
  padding-block: 1px;
  margin-bottom: 16px;
}


/* Botones de input */
.contenido__input__botones{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}
.contenido__input__botones button{
  width: 328px;
  padding: 24px;
  border-radius: 24px;
  cursor: pointer;

  font-family: var(--fuente-primaria);
  font-weight: 400;
  font-size: 1rem;
}
.contenido__output__btn{
  width: 100%;
  padding-block: 15px;
}

.contenido__input__botones>button:nth-child(1){
  background-color: var(--color-primario);
  border: none;
  color: white;
}

.contenido__input__botones>button:nth-child(2){
  background-color: var(--color-secundario);
  border: var(--color-primario) 1px solid;
  color: var(--color-primario);
}

/* Banner output */
.contenido__output{
  background-color: white;
  width: 400px;
  border-radius: 32px;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  margin: 40px 40px 40px 10px;
  padding-inline: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.spaceBetween{
  justify-content: space-between;
}
.contenido__output p{
  text-align: center;
}

.contenido__output__mensaje{
  margin-top: 32px;
  font-family: var(--fuente-primaria);
  font-weight: 700;
  font-size: calc((24/16)*1rem);
  color: #343A40;
  overflow: auto;
}

.contenido__output__mensaje_2{
  margin-top: 16px;
  font-family: var(--fuente-primaria);
  font-size: 1rem;
  font-weight: 400;
  color: #495057;
  overflow: auto;
}

.contenido__output__btn{
    background-color: white;
    margin-bottom: 32px;
    padding: 24px;
    border-radius: 24px;
    border: var(--color-primario) 1px solid;

    font-family: var(--fuente-primaria);
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-primario);
    cursor: pointer;
}

footer{
  background-color: var(--color-secundario);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.redes-sociales{
  display: flex;
  gap: 24px;
  padding-block: 24px;
  list-style: none;
  flex-wrap: wrap;
}

/* Tablet */
@media (max-width: 930px) {

  main{
    flex-direction: column;
    align-items: center;
    padding-inline: 40px;
  }

  .contenido__input{
    padding-top: 20%;
    padding-bottom: 0;
  }
  .contenido__output{
    width: 95%;
    padding: 32px;
    margin: 40px;
  }

  .contenido__output__img{
    display: none;
  }

  .contenido__output__mensaje{
    margin: 0;
  }

  .contenido__output__mensaje_2{
    margin: 16px 0 0 0;
    padding-bottom: 25px;
    max-height: 150px;
    overflow: auto;
  }
}

@media (max-width: 580px) {
  header{
    top: 0.5%;
    left: 0%;
  }
}

@media (max-width: 360px) {
  .contenido__input label{
    font-size: 1.5rem;
    padding: 20px 0px 0px 20px;
    margin-left: 20px;
  }
  .contenido__input>:nth-child(2){
    margin-top: 50px;
    margin-left: 50px;
  }
}